body {
  background: #97a6b3;
  color: #59595a;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: proxima_nova_rgregular, "Helvetica Neue", Helvetica, Arial, Roboto, sans-serif;
  font-size: 13px;
  font-weight: normal;
}

.p15 {
  padding: 15px;
}

.center-wrapper {
  width: 100%;
  height: 100%;

  .auth-container {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
  }
}

.no-m {
  margin: 0!important;
}

.panel {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 15px;
}

.bg-white {
    background-color: #ffffff;
    color: #59595a;
    a {
        color: #59595a;
    }
    a:active,
    a:focus,
    a:hover {
        color: #404040;
        text-decoration: none;
        outline: 0;
    }
    .nav > li:hover > a,
    .nav > li:focus > a,
    .nav > li:active > a,
    .nav > li.active > a,
    .nav > li > a:hover,
    .nav > li > a:focus {
        background-color: #f7f7f7;
    }
    .nav > li:hover > a,
    .nav > li:focus > a,
    .nav > li:active > a,
    .nav > li.active > a,
    .nav > li > a:hover,
    .nav > li > a:focus {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.no-b {
  border: 0;
}
.switcher-dash-action {
  padding: 0;
  list-style: none;
  display: inline-block;
  width: 100%;
}
.switcher-dash-action li {
  width: 50%;
  float: left;
  text-align: center;
}
.switcher-dash-action li:first-child a {
  border-radius: 2px 0 0 0;
}
.switcher-dash-action li:last-child a {
  border-radius: 0 2px 0 0;
}
.switcher-dash-action li.active a {
  background: #FFF;
}
.switcher-dash-action li a {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #eaecf6;
  color: #59595a;
}

.panel-heading {
    overflow: hidden;
    padding-top: 20px;
}
.panel-heading .btn-group {
    position: relative;
    top: -5px;
}
